@import url(http://fonts.googleapis.com/css?family=Indie+Flower|Mako);

/* for the nav bar */
body { }

/* navbar */

.navbar-brand {
	padding-top: 75px;
    padding-left: 5em;
}

.navbar-nav li a {
    line-height: 200px;
    height: 150px;
    padding-top: 0;
}

.mkat-nav {
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	z-index: 1033;
	background: white;
}

.mkat-nav .mkat-brand {
	font-family: 'Indie Flower', cursive;
	font-size: 15pt;
	font-weight: bold;
	text-transform: uppercase;
	color: #009738;
	padding-bottom: 1em;
}

.mkat-nav ul {
	line-height: 2em;
	padding-left: 1em;
}

.mkat-nav li {
	display: inline;
	padding: 1em;
	font-size: 8pt;
}

.mkat-nav {
	padding-top: 1em;
	padding-bottom: 1em;
}

.mkat-menu ul li.active,
.mkat-menu ul li.active a
 {
	background: #009738;
	color: white;
	font-weight: bold;
}

a {
	color: #009738;
	text-transform: uppercase;	
}

#main {
	margin-top: 150px;
}

.imagebox img {
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 3em;
}

.topic {
	padding-top: 150px;
}

.faq-entry {
	padding-top: 150px;
}
.faq-details {
	padding-bottom: 5em;
}

/* header image */

.scroll-box {
	height: 100vh;
	
	perspective: 1px;
	overflow-x: hidden;
	overflow-y: auto;
}

.pscroll {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 400px;
}


.header-image {
	x-height: 400px;
	transform: translateZ(-1px) scale(2.0);
}

/* body */

header {
	font-family: 'Indie Flower', cursive;
	color: #009738;
	font-size: 30pt;
}

h2 {
	font-family: 'Indie Flower', cursive;
	color: #009738;
	font-size: 25pt;
}

header p {
	padding-left: 1em;
}

header p:first-child {
	padding-left: 0px;
}

body {
	font-family: 'Mako', sans-serif;
}

/*
ul.nav li {
	text-transform: uppercase;
}

ul.nav li a {
	color: #009738;
}
*/

/* navbar */

/*
.navbar-brand {
	font-family: 'Indie Flower', cursive;
	font-size: 20pt;
	text-transform: uppercase;
}

.navbar-default {
	background-color: white;
	border-color: white;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li > a:hover {
	color: #009738;
}
*/